.footer-container {
  background-color: $brown-2;
  color: $color-text;
}

.footer-copy {
  background-color: $brown-2;
  color: $color-text;
  border-top: 1px solid #444;
}

.breathing {
  padding: 0px 10px;
  @include mq(md) {
    padding: 0px 80px;
  }
  @include mq(xl) {
    max-width: 1500px;
  }
}

#footer-main {
  .footer-icon-container {
    margin-top: 4rem;
  }
  .footer-item-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    @include mq(md) {
      display: flex;

      justify-content: space-between;
    }
    .right-side {
      @include mq(md) {
        width: 20%;
      }
    }
    .left-side {
      display: grid;
      grid-gap: 18px;
      margin-bottom: 3rem;
      @include mq(md) {
        width: 60%;
        margin-bottom: 0rem;
        display: flex;
      }

      ul {
        li {
          font-weight: bolder;
          font-size: 18px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
